apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: taco-cloud
spec:
  generators:
  - list:
      elements:
      # - cluster: uk
      #   url: https://sans1weuakssanaks001-dns-ae267f23.hcp.westeurope.azmk8s.io:443
      # - cluster: poland
      #   url: https://sans1weuakssanaks002-dns-de1fff24.hcp.westeurope.azmk8s.io:443
      - cluster: spain
        url: https://kubernetes.default.svc
  template:
    metadata:
      name: '{{cluster}}-taco-cloud'
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: default
      source:
        repoURL: https://github.com/georgevazj/taco-cloud-config
        targetRevision: main
        path: overlays/{{cluster}}
      destination:
        server: '{{url}}'
        namespace: 'taco-cloud'
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
            prune: true
            selfHeal: true